html {
    background-color: aliceblue;
}
/* 
# = id
. = class
*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}
#container {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
}
#pattyParts {
    display: flex;
    flex-direction: column;
}